<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List Rooms</title>
</head>
<!-- this is replaced with thymeleaf include -->
<header class="header_area" style="background-color: white;" th:replace="fragments/header :: header"></header>
<body>
<div class="container" style="background-color: white; padding: 0;">

    <section>
        <div class="container">
            <div class="back_nav">
                <div class="col-sm-5">
                    <h2>Reserve Room</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="hotel_reserve_box card">
            <h3>Review Reservation</h3>
            <br>
            <form th:action="@{/reservation}" th:object="${reservationDto}" method="post">

                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="'Room Type ' + ${reservationDto.getRoomType()}"></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li  class="list-group-item" th:text="'Number of rooms'">
                           </li>


                    </ul>
                    <input th:value="${reservationDto.getNumberOfNights()}" class="list-group-item" th:text="'Number of Occupants ' + ${reservationDto.getNumberOfOccupants()}" th:field="*{numberOfOccupants}"/>
                    <input th:value="${reservationDto.getRoomType()}" class="list-group-item" th:text="'room type ' + ${reservationDto.getRoomType()}" th:field="*{roomType}"/>
                    <input class="list-group-item"  th:value="${reservationDto.getCheckInDate()}" th:text="'Check in date ' + ${reservationDto.getCheckInDate()}" th:field="*{checkInDate}"/>
                    <input class="list-group-item" th:value="${reservationDto.getCheckOutDate()}" th:text="'Check out date ' + ${reservationDto.getCheckOutDate()}" th:field="*{checkOutDate}"/>
                    <label for="numberOfRooms" class="control-label">Number of rooms</label>
                    <input
                            id="numberOfRooms"  th:value="${reservationDto.getNumberOfRooms()}"  class="form-control" th:field="*{numberOfRooms}" />

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<footer class="footer_area" th:replace="fragments/footer :: footer"></footer>


​​
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="js/bootstrap.min.js"></script>
</body>